@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Licorice&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.btn-contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-family: "Arimo", sans-serif;
}

.btn-contact-container img{
    width: 30px;
    cursor: pointer;
    object-fit: cover;
}

.btn-contact-container button.btn-con{
    padding: 10px;
    padding-left: 92px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 0;
    gap: 5px;
    cursor: pointer;
    transition: .5s ease-out;
    background-size: 200px auto; 
    outline: 0 solid transparent;
}

.btn-contact-container button.phone1,
.btn-contact-container button.phone2{
    background: #5E5DF0; 
    color: #FFFFFF;
    box-shadow: #5E5DF0 0 10px 20px -10px;
}

.btn-contact-container button.img1,
.btn-contact-container button.img2,
.btn-contact-container button.img3{
    position: relative;
    border: 0.5px solid rgba(0, 0, 0, 0.147);
    background-color: #FFFFFF;
}

.btn-contact-container button.img1:hover,
.btn-contact-container button.img2:hover,
.btn-contact-container button.img3:hover{
        color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.btn-contact-container button.img1:active,
.btn-contact-container button.img2:active,
.btn-contact-container button.img3:active{
    transform: scale(0.9);
}
/* From Uiverse.io by adamgiebl */ 
.css.button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.css.button:active {
  transform: scale(0.9);
}

