@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.section-listbook-container{
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}
.section-listbook-container .section-listbook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.section-listbook-container .section-listbook h1 {
    font-weight: 500;
    margin: auto;
    width: 500px;
    text-align: center;
}
.section-listbook-container .section-listbook .section-list-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.232);
    border-radius: 20px;
    gap: 1rem;
}
.section-listbook-container .section-listbook .section-list-content .content-number {
    padding: 10px 15px;
    border: 1px solid #250707;
    border-radius: 50%; 
}
.section-listbook-container .section-listbook .section-list-content .content-info p.info-title {
    font-size: 18px;
    font-weight: 550;
}
.section-listbook-container .section-listbook .section-list-content .content-info p.info-more{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.51);
}



/* BOOK CASE */
.section-bookcase{
    width: 100%;
}

.bookcase-container{
    width: 100%;
    display: flex;
}

.bookcase-container .bookcase-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.bookcase-container .bookcase-card .bookcase-card-info img {
    width: 90px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.bookcase-container .bookcase-card .bookcase-card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 15px;
    padding-right: 10px;
    transition:  all .2s ease-in-out;
}

.bookcase-container .bookcase-card .bookcase-card-info:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.232);
}

.bookcase-container .bookcase-card .bookcase-card-info .card-info{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 15px;

}

.bookcase-container .bookcase-card .bookcase-card-info .card-info .card-title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 0;
}

.bookcase-container .bookcase-card .bookcase-card-info .card-info .card-title p {
    font-weight: 550;
    white-space: nowrap;
    overflow:  hidden;
    text-overflow: ellipsis;
    margin: 0;
    max-width: 300px;

}

.bookcase-container .bookcase-card .bookcase-card-info .card-info .card-title span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.51);
}

.bookcase-container .bookcase-card .bookcase-card-info .ri-close-large-line {
    font-size: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.37);
}