@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.profile-container img{
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.163);
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto;
    padding: 3rem 1rem;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
    gap: 1rem;
    font-family: "Arimo", sans-serif !important;
}

.profile-container .profile-avatar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-container .profile-avatar-section button {
    background-color: transparent;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    padding: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.816);
}
.profile-container .profile-avatar-section > p{
    font-size: 25px;
    font-weight: 600;
}
.profile-container .profile-avatar-section .pen {
    cursor: pointer;
}

.profile-container .profile-info  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.profile-container .profile-info > p {
     color: rgba(0, 0, 0, 0.35);
}

.profile-container .profile-info .profile-info-btn{
    padding-top: 1rem;
}
.profile-container .profile-info .profile-info-btn > button {
    padding: 5px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.151);
    background-color: transparent;
    cursor: pointer;
    transition:  all 0.3s;
    color:  rgba(0, 0, 0, 0.508);
}
.profile-container .profile-info .profile-info-btn > button:hover{
    color: #2F6FEE;
    border-color: #343DEA;
}

.profile-container .profile-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 20px 0;
}
.profile-container .profile-item .profile-item-content{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 110px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.profile-container .profile-item .profile-item-content::after{
    position: absolute;
    content:  " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* ban đầu trong suốt */
    transition: background .2s ease;
    pointer-events: none; /* Để sự kiện click vẫn hoạt động trên button */
    border-radius: 20px;

}
.profile-container .profile-item .profile-item-content:hover::after{
    background-color: rgba(0,0,0,0.25);
}

.profile-container .profile-item .profile-item-content span{
    font-size: 24px;
    color: #ffffff;
}

.profile-container .profile-item .profile-item-content p{
    color: rgba(0, 0, 0, 0.373);
}

.profile-container .profile-item .profile-item-brrowed{
    background-color: #1fe08ce1;
}
.profile-container .profile-item .profile-item-returned{
    background-color: #7736e7d0;
}
.profile-container .profile-item .profile-item-like{
    background-color: #f22f0dcd;
}

.profile-container .profile-list-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.042);
    width: 100%;
    padding: 2rem;
    gap: 26px;
    border-radius: 14px;
    position: relative;
}
.profile-container .profile-list-menu > hr {
    width: 90%;
    height: 1px;
    border-color: rgba(0, 0, 0, 0.062);
}
.profile-container .profile-list-menu .profile-list-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
    cursor: pointer;
    flex-shrink: 1;
}
.profile-container .profile-list-menu .profile-list-card:hover .card-right {
    background-color: rgba(0, 0, 0, 0.062);
}
.profile-container .profile-list-menu .profile-list-card .card-right {
    padding: 13px;
    background: #fff;
    border-radius: 50%;
    font-size: 20px;
    transition:  all .2s;
}
.profile-container .profile-list-menu .profile-list-card .card-right .unsername-icon {
    background: linear-gradient(to right, #3FDE4F, #043908);
    background-clip: text;
    color: transparent;
}
.profile-container .profile-list-menu .profile-list-card .card-right .notifications-icon{
    background: linear-gradient(to right, #C943EA, #420651);
    background-clip: text;
    color: transparent;
}
.profile-container .profile-list-menu .profile-list-card .card-right .setting-icon{
    background: linear-gradient(to right, #1F22DB, #661AB7);
    background-clip: text;
    color: transparent;
}
.profile-container .profile-list-menu .profile-list-card .card-right .logout-icon{
    background: linear-gradient(to right, #b61614, #eb2208);
    background-clip: text;
    color: transparent;
}
.profile-container .profile-list-menu .profile-list-card .card-right:hover{
    background-color: rgba(0, 0, 0, 0.062);
}
.profile-container .profile-list-menu .profile-list-card .card-info p{
    font-size: 17px;
    font-weight: 550;
}
.profile-container .profile-list-menu .profile-list-card .card-info {
    /* Cho phép co giãn và chiếm không gian còn lại */
    flex-grow: 1;
    /* Quan trọng: Ngăn không cho phần tử con đẩy các phần tử khác */
    min-width: 0;
}
.profile-container .profile-list-menu .profile-list-card span {
    color: rgba(0, 0, 0, 0.359);
    font-size: 14px;
    white-space: nowrap; /* Ngăn văn bản xuống dòng */
    overflow: hidden; /* Ẩn phần văn bản bị tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." */
    display: block; /* Cần thiết để overflow hoạt động đúng */
}
.profile-container .profile-list-menu .profile-list-card .card-bottom {
    right: 5%;
    position: absolute;
}
.profile-container .profile-list-menu .profile-list-card .card-bottom > i{
    font-size: 20px;
    color: #121212;
}

/* loading */

.loader {
  width: 215px;
  height: 215px;
  display: block;
  margin: auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
  border-radius: 10px;
}

.loader::after {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
   radial-gradient(circle 50px , #DDD 100%, transparent 0),
   linear-gradient(#DDD 16px, transparent 0),
   linear-gradient(#DDD 24px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 80% 16px, 80% 16px;
  background-position: -185px 0, center 10px, center 125px, center 155px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 10px, center 125px, center 155px;
  }
}
  

.like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
}

.like-container .like-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1.5rem;
    background-color: #FFF;
    border-radius: 5px;
    width: 600px;
}

.like-container .like-content .like-content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.8rem;
    padding-right: 250px;
}

.like-container .like-content .like-content-head button {
    padding: 3px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: flex;
    align-items: center;
    gap: 8px;
}

.like-container .like-content .like-content-head > button .ri-arrow-left-wide-line{
    transition:  transform .2s ease-in-out; /* Sửa lại transition cho mượt hơn */
    vertical-align: middle; /* Căn giữa icon và chữ */
}

/* Khi hover vào button, di chuyển icon sang trái */
.like-container .like-content .like-content-head > button:hover .ri-arrow-left-wide-line {
   transform: translateX(-4px);
}
.like-container .like-content .like-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.like-container .like-content .like-item .like-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.like-container .like-content .like-item .like-card .like-info .card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.like-container .like-content .like-item .like-card .like-info .card-info .info {
    min-width: 0;   
}

.like-container .like-content .like-item .like-card .like-info .card-info .like-title {
    white-space: nowrap;      /* Ngăn văn bản xuống dòng */
    overflow: hidden;         /* Ẩn phần văn bản bị tràn */
    text-overflow: ellipsis;  /* Hiển thị dấu "..." */
    margin: 0;                /* Bỏ khoảng cách mặc định của thẻ <p> */
    max-width: 300px;         /* Giới hạn chiều rộng tối đa, bạn có thể điều chỉnh giá trị này */
}


.like-container .like-content .like-item .like-card .like-info .card-info > img {
    width: 70px;
    height: 120px;
    object-fit: cover;
}

.like-container .like-content .like-item .like-card .like-info .card-info p{
    font-size: 16px;
    font-weight: 600;
}


.like-container .like-content .like-item .like-card .like-info .card-info  span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.488);
}

.like-container .like-content .like-item .like-card i {
    font-size: 24px;
    color: #d8ee12;
}

/* REVIEW */

.review-by-student-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;    
    background-color: #FFF;
}


.review-by-student-container h3,
.arrow-back-in-review {
    transition:  transform .2s ease-in-out; /* Sửa lại transition cho mượt hơn */
}

.review-by-student-container .review-item h3 {
    cursor: pointer;
    display: inline-flex; /* Giúp h3 co lại vừa với nội dung và căn chỉnh icon dễ hơn */
    align-items: center; /* Căn icon và chữ theo chiều dọc */
    gap: 0.5rem; /* Tạo khoảng cách giữa icon và chữ */
}
.review-by-student-container .review-item h3:hover > .arrow-back-in-review {
    transform: translateX(-4px);
}

.review-by-student-container .review-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20rem;
}

.review-by-student-container .review-item p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.77);
}

.review-by-student-container .review-item span{
    font-size: 25px;
    font-weight: 550;
}

.review-by-student-container .review-item .review-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.review-by-student-container .list-review-container {
    width: 100%;
    padding: 3rem 0;
}

.review-by-student-container .list-review-container img {
    width: 50px;
    height: 90px;
    border-radius: 7px;
    object-fit: cover;
}

.review-by-student-container .list-review-container .list-item{
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.review-by-student-container .list-review-container .list-item .list-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-right: 12rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    padding: 20px;
}
.review-by-student-container .list-review-container .list-item .list-info .info-comment {
    max-width: 50%;
    width: 100%;
    gap: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.review-by-student-container .list-review-container .list-item .list-info .info-img{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; 
    width: 100%;
}

.review-by-student-container .list-review-container .list-item .list-info .info-img .info-title{
    min-width: 0;
}

.review-by-student-container .list-review-container .list-item .list-info .info-img .info-title p {
    font-size: 16px;
    font-weight: 550;
    /* white-space: nowrap;     
    overflow: hidden;         
    text-overflow: ellipsis;  
    margin: 0;                
    max-width: 300px;         */
}  

.review-by-student-container .list-review-container .list-item .list-info .info-img .info-title span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.523);
}

.review-by-student-container .list-review-container .list-item .list-info .info-comment p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.59);
}

.review-by-student-container .list-review-container .list-item .list-info .info-comment p > i{
    color: rgba(164, 164, 14, 0.755);
    font-size: 16px;
}

.review-by-student-container .list-review-container .list-item .list-info .info-comment span {
    font-size: 14px;
    color: #121212;
}

.review-by-student-container .list-review-container .list-item .list-info .info-comment button {
    padding: 8px 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.144);
    background-color: transparent;
    border-radius: 3px;
    font-weight: 550;
    font-size: 13px;
    cursor: pointer;
}

/* BROWED */

section.browed-container{
    width: 100%;
}

section .browed-content{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

section .browed-content .browed-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

section .browed-content .browed-card {
    width: 300px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 1rem;
    border: 0.5px solid rgba(0, 0, 0, 0.064);
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow:  0 0 1px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease-in-out;
}

section .browed-content .browed-card:hover{
    transform: translateY(-5px);
}

section .browed-content .browed-card .card-bottom{
    min-width: 0;
    padding: 0 20px;
}

section .browed-content .browed-card .card-bottom p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: rgba(0, 0, 0, 0.616);
    font-size: 14px;
}

section .browed-content .browed-card .card-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    gap: 20px;
    margin-bottom: 10px;
}

section .browed-content .browed-card .card-btn button {
    padding: 7px 25px;
    border-radius: 7px;
    border: 0.5px solid rgba(0, 0, 0, 0.062);
    background-color: transparent;
    cursor: pointer;
    transition:  all .3s;
}

section .browed-content .browed-card .card-btn button:hover{
    background-color: rgba(0, 0, 0, 0.03);
}