.series-page-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.series-status {
    text-align: center;
    font-size: 1.2rem;
    padding: 3rem;
    color: #000;
}

.series-status.error {
    color: #e74c3c;
}

.series-section {
    margin-bottom: 3rem;
}

.series-section h2 {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.series-books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
}

.series-book-card {
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.series-book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.series-book-image-wrapper {
    width: 100%;
    height: 220px; /* Chiều cao cố định cho ảnh */
}

.series-book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.series-book-title {
    padding: 0.8rem;
    margin: 0;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--text-color);
}

/* From Uiverse.io by cosnametv */ 
.loader-series {
  --color: #a5a5b0;
  --size: 70px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 0 auto;
}

.loader-series span {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  animation: keyframes-blink 0.6s alternate infinite linear;
}

.loader-series span:nth-child(1) {
  animation-delay: 0ms;
}

.loader-series span:nth-child(2) {
  animation-delay: 200ms;
}

.loader-series span:nth-child(3) {
  animation-delay: 300ms;
}

.loader-series span:nth-child(4) {
  animation-delay: 400ms;
}

.loader-series span:nth-child(5) {
  animation-delay: 500ms;
}

.loader-series span:nth-child(6) {
  animation-delay: 600ms;
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.3;
    transform: scale(0.5) rotate(5deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.search-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.search-container input{
    padding: 10px 20px;
    width: 600px;
    height: 50px;
    border-radius: 15px;
    border: none;
    outline: none;
}