body .dark {
  background-color: #181818 !important;
}
.dark .container {
  background-color: #2E2C2B;
}

.dark > nav.nav-container {
  background-color: #1B1212 !important;
}

.dark > nav > ul > li > a,
.dark > nav > ul > li.user-menu > span,
.dark .multi-menu {
  color: #ffffffaa;
}

.dark > nav > ul >li.my-bookcase > img{
  background-color: #FFF;
  border-radius: 2.5px;
}

.dark nav > ul > li > a:hover,
.dark nav > ul > li > a.li-active {
  text-decoration: 3px #3127ee underline !important;
}

.dark .multi-menu .menu-level-1,
.dark .multi-menu .li-main .menu-level-2{
  background-color: #181818 !important;
}

.dark .multi-menu .menu-level-1 > li > a {
 color: #FFF;
}

.dark nav.nav-container .phone .contact p {
  color: #57e415e2;
}

.dark .multi-menu .menu-level-1 .li-main:hover,
.dark .multi-menu .menu-level-1 > li:hover  a{
  color: #0F0A0A !important;
}

.dark > nav.nav-container .notifications-bell img {
  border-radius: 50%;
}

/* HOME -> SEARCHIMG */

.dark .search-bar-container .section-header .header-icon .icon-item  {
  background-color: #343434;
}

.dark .search-bar-container .section-header .header-icon .icon-item i {
  color: #FFF;
}
.dark .search-bar-container .section-header .header-icon .icon-item p {
  color: rgba(180, 171, 171, 0.8);
}

.dark .search-bar-container .section-header .header-icon .theme{
  background-color: #2E2EFF;
}

.dark .search-bar-container .section-header .header-icon .theme p {
  color: #FFF !important;
}

.dark .search-bar-container .section-header .header-icon .theme:hover{
  background-color: #ded1d1 !important;
}

.dark .search-bar-container .search-input{
  background-color: #303030;
  color: #FFF;
}

.dark .search-bar-container .search-input::placeholder{
  color: #ffffffc2;
}


/* BOOK_LIST */

.dark .books-container .card {
  border-color: #000;
}

.dark .books-chart .books-chart-container {
  background-color: #33333366;
}

.dark header.header-container {
  background-color: #333;
}

.dark header.header-container  b.head {
  color: #D10000;
}

.dark header.header-container .link a,
.dark .link-wrapper::after {
  color: #ffffff9f;
}

.dark header.header-container .link a.active {
  color: #FF5C5C;
}


/* BOOK_DETAIL */

.dark .book-detail-container {
  background-color: #303030;
}

.dark .book-detail-container .book-detail-info h1 {
  color: #ffffff;
}

.dark .book-detail-info .average-rating-display span.rating-text {
  color: #D43719;
} 

.dark .book-detail-info p,
.dark .book-detail-info h3 {
  color: #f6f6f6;
}

/* PROFILE */

.dark .profile-container {
  background-color: #272727;
}


.dark .profile-container .profile-avatar-section .avata > label >  i,
.dark .profile-container .profile-avatar-section  >  p  {
  color: #FFF;
}

.dark .profile-container .profile-info > p{
  color: #FFF;
}

.dark .profile-container .profile-info .profile-info-btn > button {
  border-color: #0a0af5 ;
  color: #0a0af5;
}

.dark .profile-container .profile-list-menu {
  background-color: #333;
}

.dark .profile-container .profile-list-menu .profile-list-card p {
  color: #f6f6f6;
}

.dark .profile-container .profile-list-menu .profile-list-card span {
  color: rgba(180, 171, 171, 0.8);
}