body .dark {
  background-color: #181818 !important;
}
.dark .container {
  background-color: #0F0A0A;
}

.dark > nav.nav-container {
  background-color: #1B1212 !important;
}

.dark > nav > ul > li > a,
.dark > nav > ul > li.user-menu > span,
.dark .multi-menu {
  color: #FFF;
}

.dark > nav > ul >li.my-bookcase > img{
  background-color: #FFF;
  border-radius: 2.5px;
}

.dark nav > ul > li > a:hover,
.dark nav > ul > li > a.li-active {
  text-decoration: 1.5px #FFF underline !important;
}

.dark .multi-menu .menu-level-1,
.dark .multi-menu .li-main .menu-level-2{
  background-color: #181818 !important;
}

.dark .multi-menu .menu-level-1 > li > a,
.dark nav.nav-container .phone .contact p {
  color: #FFF;
}

.dark .multi-menu .menu-level-1 .li-main:hover,
.dark .multi-menu .menu-level-1 > li:hover  a{
  color: #0F0A0A !important;
}

.dark > nav.nav-container .notifications-bell img {
  border-radius: 50%;
}

/* HOME -> SEARCHIMG */

.dark .search-bar-container .section-header .header-icon .icon-item  {
  background-color: #343434;
}

.dark .search-bar-container .section-header .header-icon .icon-item i {
  color: #FFF;
}
.dark .search-bar-container .section-header .header-icon .icon-item p {
  color: rgba(180, 171, 171, 0.8);
}

.dark .search-bar-container .section-header .header-icon .theme{
  background-color: #2E2EFF;
}

.dark .search-bar-container .section-header .header-icon i.ri-heart-fill{
  color: #ff0000f1;
}

.dark .search-bar-container .section-header .header-icon .theme p {
  color: #FFF !important;
}

.dark .search-bar-container .section-header .header-icon .theme:hover{
  background-color: #ded1d1 !important;
}

.dark .search-bar-container .search-input{
  background-color: #303030;
  color: #FFF;
}

.dark .search-bar-container .search-input::placeholder{
  color: #ffffffc2;
}
