.home-header-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    height: 50px;
    background-color: #B87333;
    padding-right: 12px;
}

.home-header-container button.btn{
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 550;
    cursor: pointer;
}