@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;

}

hr{
    display: none !important;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #5C4033;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    padding-right: 20px;
}

nav .btn{
    font-size: 15px;
    background-color: transparent;
    border: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.375s;
}

nav .btn:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}



@media (width < 600px) {
    nav .btn{
        font-size: 17px;
    }
    nav > p{
        display: none;
    }
}