.student-container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    padding: 20px;
    background-color: #121212e8;
}
.student-container-btn .student-btn{
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 3px;
    background-color: seagreen;
    color: #fff;
    font-weight: 550;
    border: none;
    transition: all 0.3s;
}
.student-container-btn .student-btn:hover{
    background-color: rgb(18, 80, 45);
}
.student-container-btn .student-btn .student-btn-active{
    background-color: rgb(18, 80, 45);
}